@charset "UTF-8";

/*
	INDEX
	+geral
	+wrap
	+header
	+nav
	+content
	+footer
	+classes
*/

/* +geral */
body {
}
/* end geral */


/* +wrap */
#wrap {
}
/* end wrap */


/* +header */
#header {
}
/* end header */


/* +nav */
#nav {
}
/* end nav */


/* +content */
#content {
}
/* end content */


/* +footer */
#footer {
}
/* end footer */


/* +classes */
/* end classes */