@charset "UTF-8";
@import "reset.css";
@import "default.css";

/*
	INDEX
	+geral
	+prewrap
	+wrap
	+header
	+main
	+nav
	+content
	+footer
	+classes
*/

/* +geral */
body {
	background:#333333;
	/* font-size:62.5%; */
	font-family:arial, verdana;
}

  .clearfix:after {
    content: ".";
	display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix {display: inline-block;}  /* for IE/Mac */


/* end geral */

/* +prewrap */
#prewrap {
	background: #707070 url(../imgs/backgrounds/prewrap.gif) left bottom repeat-x;
	padding:12px 0px 0px 0px;
}
/* end prewrap */

/* +wrap */
#wrap {
	width:791px;
	padding:0px 0px 5px;
	margin:0px auto 0;
	background: url(../imgs/backgrounds/corpo.png);
}
/* end wrap */


/* +header */
#header {
	padding:1px 0px 0px 0px;
	margin:-2px 0px 5px 0px;
	background:url(../imgs/backgrounds/corpo-topo.gif) center top no-repeat;
}
#header h1{
	display:none;
}
#header #conceitual {
margin-left: 18px;
}



/* end header */


/* +main */



#main{
    background:url(../imgs/backgrounds/main.gif) left bottom no-repeat;
	margin:0px 0px 0px 8px;
    }
	
/* end main */


/* +nav */
#nav {
/*overflow: hidden; */
	width:120px;
	float:left;
	display: inline;
	margin:0 10px 0px -126px;
	min-height:350px;
}
#nav-topo {
	margin: 0px 0px 0px 130px;
	display: block;
	background:url(../imgs/backgrounds/canto.gif) no-repeat right top;
	width:6px;
	float:left;
}
#nav li{
	text-align:right;
	display:block;
	height:29px;
	border-bottom:1px solid #C6DE99;
	background:url(../imgs/backgrounds/nav.png) repeat-x;
}
#nav li a{
	display:block;
	height:24px;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	padding:5px 7px 0px 0px;
}
#nav ul li:hover {
	background:url(../imgs/backgrounds/nav_hover.png) repeat-x;
}
#nav ul li div.search {
	text-align:right;
	display:block;
	height:24px;
	padding:5px 7px 0px 0px;
}
#nav li div.search input {
	width:75px;
	height:14px;
	font-size:10px;
	padding:0px 3px 0px 3px;
	float:left;
	margin:0px 3px 0px 3px;
}
#nav li div.search .button{
	display:block;
	text-indent:-9999px; 
	width:14px;
	height:14px;
	background: url(../imgs/backgrounds/search.gif) no-repeat;
	border:none;
	position:relative;
	padding:3px 0px 0px 0px;
	top:4px;
}
/* end nav */


/* +content */
#content, #nav{
	margin-bottom:0px;
}
#content {
	width:633px;
	min-height:421px;
	float:left;
	display: inline;
}
#content h2{
	font-size:14px;
	font-weight:bold;
	color:#5789DC;
}
#content p{
	color:#666;
	font-size:12px;
/*
	margin:3px 0; 
	*/
	line-height:1.4em; 
}
#content p img.left{
	/* margin:0px 5px 0px -3px; */
}
#content .hightlights{
	background-color:#fff000;
	padding:3px 15px 10px 10px;
	margin:0px;
	overflow:hidden;
	background: url(../imgs/backgrounds/hightlights-corpo.gif) left top repeat-y;
	height:1%;
	width:96%;
}
#content .hightlights-topo {
    background: url(../imgs/backgrounds/conteudo-topo.gif) no-repeat;
    width: 633px;  /* 629 */
    height: 8px;
		font-size: 1px;
	margin:-2px 0px 0px 0px; /* josue */
}
#content .hightlights-rodape {
    background: url(../imgs/backgrounds/hightlights-rodape.gif) no-repeat;
    width: 633px;   /* 629 */
    height: 7px;    /* 6 */
    margin:-4px 0 8px 0;
}
#content .content-left, #content .content-right{
	width:290px;
	float:left;
}
#content .content-left{
	margin-right:20px;
}
#content .credits li{
	display:inline-block;
	float:left;
	margin-right:15px;
	
	color:#fff;
	font-size:11px;
}
#content .credits li h4.organization,#content .credits li h4.promotion{
	display:block;
	height:14px;
	padding-left:7px;
}
#content .credits li h4.promotion{
	width:92px;
	background:url(../imgs/backgrounds/promocao.gif) no-repeat;
}
#content .credits li h4.organization{
	width:231px;
	background:url(../imgs/backgrounds/organizacao.gif) no-repeat;
}

/* Alterado para o joomla */
#content div.componentheading {
	font-size:16px;
	font-weight:bold;
	padding: 0px 4px 0px 4px;
	color:#5789DC;
}
#content table.contentpaneopen td{
	font-size: 12px;
	color: #666666;
	padding: 0px 4px 0px 4px;
}
#content table.contentpaneopen td.contentheading {
	font-size:16px;
	font-weight:bold;
	padding: 0px 4px 0px 4px;
	color:#5789DC;
}
#content table.contentpaneopen p{
	margin: 0px 0px 10px 0px;
	text-align:justify;
}
#content table.contentpaneopen h1, #content table.contentpaneopen h2, #content table.contentpaneopen h3{
	margin: 15px 0px 10px 0px;
}
#content table.contentpane td{
	font-size: 12px;
	color: #666666;
	padding: 0px 4px 0px 4px;
}
#content table.contentpane td.contentheading{
	font-size: 12px;
	color: #666666;
	padding: 0px 0px 0px 0px;
}
#content .readon				{background-image: url('../images/readon.gif'); background-repeat: no-repeat; background-position: top left; padding-left: 25px;}

#content a.readon:link		{background-image: url('../images/readon.gif'); background-repeat: no-repeat; background-position: top left; padding-left: 25px;}
#content a.readon:active	{background-image: url('../images/readon.gif'); background-repeat: no-repeat; background-position: top left; padding-left: 25px;}
#content a.readon:hover		{background-image: url('../images/readon.gif'); background-repeat: no-repeat; background-position: top left; padding-left: 25px;}
#content a.readon:visited	{background-image: url('../images/readon.gif'); background-repeat: no-repeat; background-position: top left; padding-left: 25px;}

#content a:link, a:visited {
	color: #5789DC;
	text-decoration: none;
	font-weight: normal;
}

#content a:hover, a:active {
	color: #5789DC;	
	text-decoration: underline;
	font-weight: normal;
}
#content table.searchintro td{
	font-family: Arial;
	font-size: 12px;
	color: #666666;
}

#content table.contentpaneopen ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#content table.contentpaneopen ul li{
    line-height: 15px;
    padding-left: 15px;
    padding-top: 0px;
    margin-top: 3px;
    background-image: url('../images/bullet.gif');
    background-repeat: no-repeat;
    background-position: top left;
}

#content table.contentpaneopen ol{
    margin: 0;
    padding: 0;
}

#content table.contentpaneopen ol li{
    line-height: 20px;
    margin-left: 20px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 3px;
}

#content #tableinscricoes{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border-width:0px;
	border-style: solid;
	border-color: #666666;
/*	background-color: #666666; */
}
#content #tableinscricoes th{
	color: #FFFFFF;
	padding:2px;
	border:1px solid #666666;
}
#content #tableinscricoes td{
	padding:2px;
	border:1px solid #666666;
}

#content #tablehotel td{
  padding: 4px 4px 4px 4px;
  border:1px solid #666666;
}

/* fim joomla */
/* end content */


/* +footer */
#footer {
	clear:both;
	position:relative;
	text-align:center;
	background:url(../imgs/backgrounds/rodape-novo.png) no-repeat;
	width: 763px;
	height: 28px;
	margin:-10px 0 0 16px;
	color:#fff;
	font-size:12px;
	padding:9px 0px 0px 0px;
}
#footer #conectas{
	position:absolute;
	right:16px;
	top:10px;
	text-indent:-9999px;
	width:57px;
	height:12px;
	display:block;
	background:url(../imgs/titles/conectas.gif) no-repeat;
}

#reflexo {
    background: #333333 url(../imgs/backgrounds/reflexo.png) center top no-repeat;
    height: 140px;
    }
/* end footer */


/* +classes */
/* end classes */
